@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

/* styling for the whole page */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(218, 239, 247);
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.contact .content p {
    font-weight: 400;
    color: rgb(24, 25, 48);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.contactForm {
    width: 85%;
    padding: 80px;
    background: white;
}

.contactForm h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;

}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0,5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input [type="submit"] {
    width: 100px;
    background-color: #666;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 40px;
    }
}

.container .contactInfo,
.contactForm {
    width: 100%;
}



/* Footer styling */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #0d0d0e00;
    height: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: rgb(0, 0, 0);
  }
  
  
  .footer-content a {
    align-items: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content a {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 3rem 0;
    size: 20rem;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .socials a i {
    font-size: 2.1rem;
    transition: color .9s ease;
  }
  
  .socials a:hover i {
    color: blue;
  }
  
  .footer-bottom {
    width: 100vw;
    padding: 10px -6px;
    text-align: center;
  }
  
  .footer-bottom p {
    font-size: 16px;
    word-spacing: 1px;
    text-transform: capitalize;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200px;
  }
  