@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

/* styling for the whole page */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  background-color: rgb(218, 239, 247);
}




.row:after {
    content: '';
    display: table;
    clear: both;
}



/* header-navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
  }
  
  .navbar-links li:hover {
      background-color: #ffffff;
  }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  @media (max-width: 650px) {
    .toggle-button {
      display: flex;
    }
  }
  
  .navbar-links {
    display: none;
    width: 100%;
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  
  }
  
  .navbar-links li {
    text-align: center;
  }
  
  .navbar-links li a {
    padding: .5rem 1rem;
  }
  
  .navbar-links.active {
    display: flex;
  }
  
  
  /* Footer styling */
  
  footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: rgb(0, 0, 0);
  }
  
  
  .footer-content a span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-indent: 100px;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content a {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    text-align: center;
  }
  
  .socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 2rem 3rem 0;
    size: 20rem;
  }
  
  .socials li {
    margin: 0 10px;
  }
  
  .socials a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  .socials a i {
    font-size: 2.1rem;
    transition: color .9s ease;
  }
  
  .socials a:hover i {
    color: blue;
  }
  
  .footer-bottom {
    width: 100vw;
    padding: 10px -6px;
    text-align: center; text-indent: -80px;
  }
  
  .footer-bottom p {
    font-size: 16px;
    word-spacing: 1px;
    text-transform: capitalize;
  }
  
  .footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200px;
  }
  



/* main body */

h2 {
    color: black;
    margin: 1.5 0px;
}

.left-column {
    float: left;
    width: 75%;
}

.right-column {
    width: 25%;
    float: right;
    padding-left: 20px;
}

.card {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.card img {
    width: 100%;
}

.right-column .card img {
    margin-bottom: 10px;

}

.right-column .card .span {
    text-decoration: none;
    list-style: none;
}

/* footer {
    background-color: rgb(215, 203, 187);
    padding: 20px;
    text-align: center;
    margin-top: 20px;
} */


@media(max-width:800px) {
    .left-column, .right-column {
        width: 100%;
        padding: 0px;
    }
}