@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

/* styling for the whole page */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}


/* about styling */

.about-section {
    background: url(./images/intro.jpg) no-repeat left;
    background-size: 55%;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container {
    width: 55%;
    float: right;
    background-color: white;
    padding: 150px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font size: 13px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.resume {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    list-style: none;

}



/* media querys */

/* desktop */
@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

/* tablet */
@media screen and (max-width:768px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        padding: 100%;
    }
}

/* mobile  */
@media screen and (min-width:375px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 30px;
    }
}